
body
{
	font-family: 'Raleway', sans-serif;
	margin: 0;
}
.page{
	padding: 0 2rem;
	/* background-color: lime; */
}

/* header */
header{
	display:flex;
	justify-content: space-between;
	flex-direction: row;
}

#logo-titre-principale{
	display: flex;
} 

header img 
{
	/* border: 5px solid darkmagenta; */
	width: 160px;
	height: 70px;
}

#conteneur-nav{
	display:flex;
	flex-direction:row; 
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.logo-titre-principale__only-responsive-sinscrire{
	display: none;
}
.element{	
	list-style-type: none;
	padding: 40px 20px 0px;
	text-decoration:none;
}

.conteneur-nav__hebergement{
	color:#0065FC;
	border-top:4px solid #0065FC;
	order: 1;
	padding-top: 37px!important;
}
.conteneur-nav__activites
{
	/* activités */
	color:black;
	order: 2;
}
.conteneur-nav__sinscrire
{
	/* s'inscrire */
	color:#0065FC;
	font-weight: 700;
	order: 3;
}

/* fin header */

/* petite section */

.mini-section__geolocalisation-recherche {
	display: flex;
	margin-bottom: 1em;
}
.mini-section__icone-geolocalisation{
	background-color: #F2F2F2;
	margin: 10px 0px;
	padding: 5px 10px;
	border-radius: 10px 0 0 10px;
	border: #F2F2F2 8px solid;
	
}
.mini-section__ville{
	margin: 10px 0px;
	padding: 5px 20px;
	border-top: 2px #F2F2F2 solid;
	border-bottom: 2px #F2F2F2 solid;
	font-weight: 700;

}
a{
	text-decoration: none;
	color: black;
}

input {
	outline:none;
	border-style: none;
	font-size: 1.01em;
	font-weight: bold;
	line-height: 30px;
   }
/* appliquer rechercher que pour le desktop */
.mini-section__rechecher{
	margin: 10px 0px;
	padding: 5px 20px;
	background-color: #0065FC;
	border-radius: 0px 10px 10px 0;
	line-height: 33px;
	font-weight: 700;
}
.rechercher-color{color: white;}
/* appliquer search que pour le responsive */
.search{
	position: relative;
	right: 20px;
	margin: 10px 0px;
	padding: 5px 10px;
	background-color: #0065FC;
	color: white;
	border-radius: 17px;
	border: #0065FC 8px solid;
	display: none;
	
} 

/* filtres */
/* block-filtre */
.circle{
	background-color: #DEEBFF;
	margin: 0px 12px 0 0;
	padding: 1em;
	position: relative;
	right: 10px;
	border-radius: 50px;
}
.filtre__lien{
	display: flex;
	position: relative;
	min-height: 3em;
	margin-bottom: 1em;
}
.filtre__lien__fusion{
	position: absolute;
	left: 0;
	right: auto;
}


.filtre__lien__texte{
	/* font-size: 1.5em; */
	margin: 0px 10px 0px 10px;
	padding: 0px 25px 0 45px;
	border-radius: 70px 80px  80px 70px;
	
	font-weight: 700;
	border-top: 4px #f2f2f2 solid;
	border-bottom: 4px #F2F2F2 solid;
	border-right: 4px  #f2f2f2 solid;
	
	display: flex;
	align-items: center;
} 

.filtre__lien__texte:hover{
	border: #0065FC solid 1px;
	transform: scale(1.1);
	/* background-color: #F2F2F2; */
	color: #0065FC;
	box-shadow: 0 0 0.2em  black;
}
.block-filtre__filtres__lien:hover:nth-child(1){
	border: none;
	transform: none;
	
}

.filtre__main{
	font-weight: 700;
	border: none;
	margin: 0 3em 0 0;
	line-height: 3em;
}

.filtre
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
/* end block-filtres */
.fa-info{
	border: 3px solid #F2F2F2;
	padding: 9px;
	border-radius: 360%;
	margin-right: 1em;
}
.logo-information{
	margin-left: 10px;
}


/* fin filtres */

.container-hebergement-populaires{
	display: flex;
}
.hebergement
{
	/* border: green dashed 4px; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	margin:  20px 34px 20px 0;
	justify-content: space-evenly;
	/* overflow: hidden; */
}


.bold
{
	font-weight: 700;
}

.hebergement__cadre{
		border-radius: 23px;
		padding: 8px;
		margin: 15px 0px;
		box-shadow: black 0 0 10px -4px;
		line-height: 0.3em;
		
}

.hebergement__cadre__img{
	height: 20vh;
	width: 40vw;


	min-height: 150px;
	max-height: 225px;
	min-width: 300px;
	max-width: 450px;

	background-position: center;
	background-size: cover;
	border-radius: 23px  23px 0 0;
	background-repeat: no-repeat;
}

.hebergement__cadre__img-1{
	background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
.hebergement__cadre__img-2{
	background-image:url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg" )
}
.hebergement__cadre__img-3{
	background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
.hebergement__cadre__img-4{
	background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
.hebergement__cadre__img-5{
	background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
.hebergement__cadre__img-6{
	background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}


.presentation-hebergement-populaire
{
	/* color: darkorchid; */
	padding: 2rem;
	border-radius: 45px;
}
.les-plus-populaires__titre{
	display: flex;
	align-items: center;
}
.fa-chart-line{
	font-size: 1.8rem;
}

.populaires
{
	/* border:  green dashed 4px; */
	background-color: #F2F2F2;
	margin:  20px 0px 20px 0;
	min-width: 500px;
	width: 20vw;
}

.les-plus-populaires-img{
	min-width: 200px;
}
aside .les-plus-populaires-img
{
	/* border: sienna 5px dashed; */


	/* width: 800px; */
	/* min-width: 200px; */

	border-radius: 23px;
	background-color: white;
	box-shadow: black 0 0 10px -4px;
	 
	height: auto;
	min-width: 384px;
	overflow: hidden;
	margin:2rem 0
}
.titre-img
{
	margin-top: 21px;
}

aside .les-plus-populaires-img__dimension-image{
	/* border: 24px solid khaki; */
	height: 200px;
	width: 200px;
	border-radius: 23px 0 0 23px;
}

 .fas
{
	color:#0065FC;
	/* border: turquoise solid 3px; */
}

.fa-child:before{
	margin: 0 1.6px;
}
.fa-info:before {
	margin: 5px;
}

/* couleur des icon */
 .icon-black  
{
	color : black;
	background-color: #F2F2F2;
}
.icon-gray
{color: #F2F2F2;}
.icon-white
{color: white;}



/* Activites */

.activites{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
}
.activites h2{width: 100%;}

.activites__cadre{
	height: fit-content;
	margin: 20px 20px 40px 0px;
	box-shadow: black 0 0 10px -4px;
	border-radius: 23px ;
	
}

.activites__cadre__img{
	width: 18vw;
	min-width: 330px ;
	background-position: center;
	background-size: cover;
	border-radius: 23px  23px 0 0;
	background-repeat: no-repeat;

}

.populaires__cadre__img{
	background-position: center;
	background-size: cover;
	border-radius: 23px  0 0 23px ;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	min-width: 200px;
}
.aga{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 0.5em;
	padding: 0 0 0 1em;
} 

.learn{
	line-height: 1em;
}


.populaires__cadre__img-1{
	background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.populaires__cadre__img-2{
	background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.populaires__cadre__img-3{
	background-image: url("images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.populaires__cadre{
	display: flex;
	border-radius: 23px;
	background-color: white;
	box-shadow: black 0 0 10px -4px;
	height: auto;
	overflow: hidden;
	margin:2rem 0;
	padding: 0.4em;
}

.activites__cadre__img-1{
	height: 468px;
	background-image: url("images/activites/4_small/vieux-port.jpg"); 

}

.activites__cadre__img-2 {
	height: 240px;
	background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");

}

.activites__cadre__img-3 {
	height: 140px;
	background-image: url("images/activites/4_small/iles-du-frioul.jpg");
	
}

.activites__cadre__img-4 {
	height: 468px;
	background-image: url("images/activites/4_small/bitcoin.jpg");
}

.activites__cadre__img-5 {
	height: 190px;
	background-image: url("images/activites/4_small/recep-ivedik.jpg");
	
}

.activites__cadre__img-6 {
	height: 190px;
	background-image: url("images/activites/4_small/naomi.jpg");
	
}

.activites__cadre__description {
	/* border: darkred 5px solid; */
	margin: 0 10px  ;
	line-height: 3rem;
	font-weight: bold;
}



/* fin Activites */
/* footer */
footer
{
	background-color: #F2F2F2;

}

footer #container
{
	display: flex;
	flex-direction: row;
	margin: 40px 0 0;
	padding: 25px ;
	color: black;

}

footer .container__items
{
	padding-left: 0;
	width: 33%;
	list-style: none;
	line-height: 2em;
	padding: 1em 0;
	
}

.hebergement-afficher-plus
{
	
	font-weight:bold ;
	margin: 20px 0 0 20px;
	width: 100%;
	font-size: 1.3em;
}

 .title-on-top 
{
	width: 100%;
	font-weight: bold;
	margin: 0 0 20px 20px;
}

footer li:first-child 
	{
		color:black;
		font-weight: bold;
		padding-bottom: 12px;
		font-size: 1.3em;
		width: 100%;
		
	}

/* fin footer */


* {box-sizing: border-box;}

/* tablette */
@media all and (max-width: 1400px) and (min-width:800px){

	.presentation-hebergement-populaire{
		padding-left: 0;
		padding-right: 0;
	}
	.fa-chart-line:before{
		padding-right: 4rem;
	}
	
	.populaires__cadre__img{
		min-width: 40%;
		width: 40%;
	}


	.container-hebergement-populaires{
		flex-direction:column-reverse;
	}

	.populaires{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100%;
		min-width: unset;
	}
	.les-plus-populaires__titre{
		width: 100%;
	}
	.populaires__cadre{
		width: 30%;
		margin: 0 1%;
	}

	.quatrieme-colonne{
		display: flex;
	}
	.hebergement{
		margin-right: 0;
	}
}


/* phone */
@media all and (max-width: 800px)
{


	
	.mini-section__ville{
		width: 17em;
		min-width: 10em;
		padding-left: 0;
		text-align: center;
	}

	.container-hebergement-populaires{
		display: flex;
		flex-direction:column-reverse;
		}
	
	.hebergement__cadre__img{
		width: 100%;
		max-width: unset;
		min-width: unset
	}
	.hebergement__cadre{
		min-width: unset;
		width: 100%;
	}

	.title-on-top,
	.hebergement-afficher-plus{
		width: 90%;
	}
	

	.page{
		margin: 0;
		padding: unset;
	}
	/* mini section */
	.filtre__main{
		width: 100%;
	}

	.mini-section{
		padding: 2rem;
	}
	.mini-section__rechecher{
		display: none;
	}
	.search{
		display:unset;
	}
	
	.populaires {
	border-radius: unset;
	padding: 2rem;
	margin: 0rem;
	width: 100%;
	min-width: unset;
	}
	.populaires__cadre__img{
		min-width: unset;
	}



/* header responsive */

	header{
		display: unset;
	}
	.conteneur-nav__hebergement
	{
		border-top:unset ;
		padding-bottom: 40px;
		border-bottom: #0065FC 3px solid;
		width: 50%;
		padding-left: unset;
		padding-right:unset;
		padding-bottom: 20px;
		/* box-shadow: 0px 04px 65px  */
	}
	.conteneur-nav__activites
	{
		padding-bottom: 40px;
		border-bottom: #F2F2F2 3px solid;
		width: 50%;
		padding-left: unset;
		padding-right: unset;
		padding-bottom: 20px;
	}

	.conteneur-nav__sinscrire
	{
		display:none;
	}

	a.logo-titre-principale__only-responsive-sinscrire{
		display: unset;
		color:  #0065FC;
		align-items: center;
		font-weight:700;
		padding-right: 1.4em;
			
	}
	#logo-titre-principale{
		display: flex;
		align-self: flex-end;
		justify-content: space-between;
		align-items: center;
	}

	

	.hebergement__cadre{
		margin-left: 0;
		margin-right: 0;
	}
	.hebergement,
	.activites {
	justify-content: space-evenly;
	background-color: white;
	margin: 0;
	padding: 1.3em;
	}

	.hebergement-a-marseille--dimension-image,
	.activites__cadre__img{
	width: 80vw;
	height: 195px; 
	max-width: unset;
	}

	.activites__cadre__img{
		min-width: 0;
	}

/* activites responsive */



.activites__cadre{
	margin: 0 0 2em 0;
}


	.activites h2{
	width: 80vw;
	}

	footer #container
	{
		display: flex;
		flex-direction: column;
		color: black;
		/* border: 20px dotted brown; */
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding: 2rem;
	}

	
	footer .container__items{
		width:unset;
		margin: 0;
	}
	
	.items__list
	{
		padding:2px;
		list-style-type: none;
		width: 100%;
	}



}
