/*(https://www.fontsquirrel.com) on January 7, 2021 */
body
{
	font-family: 'Raleway', sans-serif;
}
header
{
	display:flex;
	justify-content: space-between;
}
header img 
{
	width: 300px;
	height: 100px;
}

#logo_titre-principale
{
	display: flex;
	flex-direction: row;
	color: blue
}
#en-haut-à-droite
{
	
	display:flex;
	flex-direction:row; 
	justify-content: space-around;
	width: 650px;

}

.element
{
	width: 150px;
	height: 100px;
	margin-right: 150px;
	padding-bottom: 5px;

}

.element:nth-child(1)
{
	color: blue;
	text-decoration:  overline;
}

.element:nth-child(2)
{
	color: green;
	
}
.element:nth-child(3)
{
	color: blue;
	font-weight: bold;
}
footer
{
	background-color: #F2F2F2;
	opacity: 0,8;
}

/* .titre-bas-liste
{
	font-weight: bold;
	color: black;
} */
footer ul
{
	
	list-style-type: none;
	width: 650px;
	height: 100px;
	margin-right: 150px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#liste-colonne
{
	display: flex;
	flex-direction: row;
	color: black;
}

footer li
{
	line-height: 2.5;
}
footer strong
{
	font-weight: bold;
}

.nini h1
{
	font-family: 'ralewaythin','Raleway';
}
.nini
{
	color:lime;
}