
body
{
	font-family: 'Raleway', sans-serif;
}

/* header */
header
/* ca permet de mettre en flex le logo et la liste */
{
	display:flex;
	justify-content: space-between;
	flex-direction: row;
}

#logo-titre-principale
{
	display: flex;
} 

header img 
{
	/* border: 5px solid darkmagenta; */
	width: 160px;
	height: 70px;
}

#conteneur-nav
{
	
	display:flex;
	flex-direction:row; 
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	/* border: 6px dotted yellowgreen; */

}

.logo-titre-principale__only-responsive{
	display: none;
	/* visibility: hidden; */
}
.element
{	
	list-style-type: none;
	padding: 40px 20px 0px;
}

.conteneur-nav__heber
{
	/* hebergements */
	color:#0065FC;
	border-top:4px solid #0065FC;
	order: 1;
}
.element:nth-child(2)
{
	/* activités */
	color:black;
	order: 2;
}
.element:nth-child(3)
{
	/* s'inscrire */
	color:#0065FC;
	font-weight: bold;
	order: 3;
}

/* fin header */

/* petite section */

.mini-section__geolocalisation-recherche {
	display: flex;
}
.mini-section__icone-geolocalisation{
	background-color: #F2F2F2;
	margin: 10px 0px;
	padding: 5px 10px;
	border-radius: 10px 0 0 10px;
	border: #F2F2F2 8px solid;
	
}
.mini-section__ville{
	margin: 10px 0px;
	padding: 5px 20px;
	/* background-color: #F2F2F2; */
	border-top: 2px #F2F2F2 solid;
	border-bottom: 2px #F2F2F2 solid;
	line-height: 30px;
	font-weight: bold;
}

/* appliquer rechercher que pour le desktop */
.mini-section__rechecher{
	margin: 10px 0px;
	padding: 5px 20px;
	background-color: #0065FC;
	color: white;
	border-radius: 0px 10px 10px 0;
	line-height: 33px;
	font-weight: bold;
	
}

/* appliquer search que pour le responsive */
.search{
	margin: 10px 0px;
	padding: 5px 10px;
	background-color: #0065FC;
	color: white;
	border-radius: 10px 10px 10px 10px;
	border: #0065FC 8px solid;
	/* visibility: hidden; */
	display: none;
	
} 

/* filtres */
/* block-filtre */
.circle{
	background-color: #DEEBFF;
	margin: 0px 12px 0 0;
	padding: 16px 16px;
	border-radius: 50px;
}
.block-filtre__filtres__lien{
	margin: 0px 10px 10px 10px;
	padding: 0px 20px 0 0;
	border-radius: 70px 80px  80px 70px;
	/* text-align: center; */
	font-weight: bold;
	border-top: 4px #f2f2f2 solid;
	border-bottom: 4px #F2F2F2 solid;
	border-right: 4px  #f2f2f2 solid;
	
	display: flex;
	align-items: center;
} 

.filtres-main{
	font-weight: bold;
	border: none;
}

.block-filtres
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* margin-bottom: 10px; */
	/* padding-bottom: 100px; */
	/* border: firebrick solid 3px */

}
/* end block-filtres */
.fa-info{
	border: 3px solid #F2F2F2;
	padding: 9px;
	border-radius: 360%;
}
.logo-information__padding{
	/* padding: 0px 20px 0 20px; */
	margin-left: 10px;
}


/* fin filtres */

.container-section_hébergement-et-aside_les-plus-populaires
{
	/* border: 23px solid red; */
	display: flex;
	
}
.carte-de-présentation-hébergement-à-marseille
{
	/* border: green dashed 4px; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	margin:  20px 34px 20px 0;
	/* overflow: hidden; */
}


.hébergement-à-marseille--dimension-image
{
	/* border: blue 12px solid; */	
	height: 174px;
	width: 274px; 
	/* alltaki cok guzel ama ecranima uygun degil onun icin
	simdilik ustekini koyuyom ama final'de alttakini width'fi
	 kullan */
	/* width: 340px;  */
	border-radius: 23px 23px 0 0px;
}
.bold
{
	font-weight: bold;
}

.hébergement-img__description-chambre
{
	padding-left: 15px;
}
.hébergement-img-float {
	float: left;
	margin-top: 7px;
	/* overflow: hidden; */
}
.hébergement-img
/* peut être nommer "child" ? */
{
	/* border: gold dotted 7px; */
	border-radius: 23px;
	background-color: white;
	padding: 1px 7px;
	margin-bottom: 20px;
	margin-right: 20px;
	box-shadow: black 0 0 10px -4px;
	line-height: 0.3;
	
}
.présentation-hébergement-populaire
{
	/* color: darkorchid; */
	padding: 40px 20px  ;
	/* margin:  20px 12px 20px 0; 
	bu cok guzzel ama bilgisarim bu olculeri alinca
	ecrana column'mus gibi gosteriyor */
	/* margin: 12px 12px 0 0; */
	border-radius: 45px;
}


.carte-de-présentation-les-plus-populaires
{
	/* border:  green dashed 4px; */
	background-color: #F2F2F2;
	margin:  20px 0px 20px 0;
}
aside .les-plus-populaires-img
{
	/* border: sienna 5px dashed; */
	border-radius: 23px;
	background-color: white;
	box-shadow: black 0 0 10px -4px;
	 
	height: auto;
	width: 384px;
	overflow: hidden;
	margin-bottom: 12px;
}
.titre-img
{
	margin-top: 21px;
}
.float-img-populaires
{
	float: left;
	/* width: 800px; ne prend pas en compte car p je pense */
	margin: 7px 15px 7px 7px;

}
aside .les-plus-populaires-img__dimension-image
{
	/* border: 24px solid khaki; */
	height: 200px;
	width: 200px;
	border-radius: 23px 0 0 23px;
	
	

}

/* si je met "i.fas" ca annule toutes les autres
règles comme 5 étoiles bleu par tout 
et geolocalisation en bleu */
 .fas
{
	color:#0065FC;
	/* border: turquoise solid 3px; */
}



/* couleur des icon */
 .icon-black  
{
	color : black;
	background-color: #F2F2F2;
}
.icon-gray
{color: #F2F2F2;}
.icon-white
{color: white;}

/* Activites */

.activites__container{
	display: flex;
	flex-wrap: wrap;
	margin: 0 10px;
	padding: 0 10px;
}
.activites h2{width: 100%;}


.vertical{
	
	 height: 400px;
	width: 300px; 
	
	  background-image: url("images/activites/4_small/vieux-port.jpg"); 
	  background-position: center;
	  /* background-size: cover; */
	  /* background-repeat: no-repeat; */
	  border: lightsteelblue 4px solid;
}


.activites__container__horizontal-mini{
	/* la somme doit etre egal a verticale + ou - */
	height: 160px;
	width: 300px;
	background-image: url("images/activites/4_small/iles-du-frioul.jpg");
	background-position: center;
}

/* cadre de toutes les elements pour modifier leur contour et ombre */
.activites__container__cadre-img
{
	display: flex;
	flex-direction: column;
	margin: 0 10PX;
	/* border: teal 7px solid; */

}
/* on essaye les vh et vw */
.aga{
	/* border: peru 10px dashed; */
	border-radius: 23px;
	background-color: white;
	/* padding: 10px 7px; */
	margin-bottom: 20px;
	margin-right: 20px;
	box-shadow: black 0 0 10px -4px;
	/* la hauteur et la largeur est très bien */

	/* height: 200px;
	width: 300px; */
	height: 200px;
	width: 33vw;
	max-width: 300px;
	/* background-size: cover; */
	background-position: center;
}
/* met la police en em */

.activites__container__cadre-img__horizontal-big {
	height: 200px;
	min-height: 100px;
	background-size: cover;
	background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
	background-position: center;
	/* border: darkorchid 4px solid; */
	background-repeat: no-repeat;
	border-radius: 23px 23px 0 0;

}

.activites__container__description-texte{
	/* border: darkred 5px solid; */
	margin: 0 10px  ;
	/* text-align: center; */
	line-height: 3rem;
	font-weight: bold;

}






/* fin Activites */
/* footer */
footer
{
	background-color: #F2F2F2;

}

footer #container
{
	display: flex;
	flex-direction: row;
	justify-content: space around;
	margin: 40px 0;
	padding: 25px 0;
	color: black;
}

footer .container__items
{

	margin-right: 100px;
	/* margin-left:  */
}

.at-the-bottom
{
	
	font-weight:bold ;
	text-transform: capitalize; 
	margin: 12px 0 12px 12px;
	width: 100%;
}

 .title-on-top 
{
	width: 100%;
	font-weight: bold;
	/* margin: 12px 0 27px 12px; */
	margin-bottom: 27px;
}

/* fin footer */

* {box-sizing: border-box;}

/*(https://www.fontsquirrel.com) on January 7, 2021 */
@media all and (max-width: 800px)
/* @media all and (max-width: 1024 px) par défault*/
/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
{
	/* mini section */
	.filtres-main{
		width: 100%;
	}

	.mini-section__rechecher{
		display: none;
	}
	.search{
		/* visibility:unset */
		display:unset;
	}
/* mettre en column aside d'abord puis section */
.carte-de-présentation-les-plus-populaires {
	border-radius: unset;
}
.carte-de-présentation-hébergement-à-marseille {
	background-color: white;
}


.container-section_hébergement-et-aside_les-plus-populaires
{
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
}


/* header responsive */

	header{
		display: unset;
	}


	/* .heber */ 
	a.element:nth-child(1)
	{
		border-top:unset ;
		
		padding-bottom: 40px;
		border-bottom: #0065FC 3px solid;
		width: 50%;
		/* margin: 0; */
		/* padding: 0; */
		padding-left: unset;
		padding-right:unset;
		padding-bottom: 20px;
		/* box-shadow: 0px 04px 65px  */
	}
	/* .activites */
	a.element:nth-child(2)
	{
		/* background-color: tomato; */
		padding-bottom: 40px;
		border-bottom: #F2F2F2 3px solid;
		width: 50%;
		/* margin: 0; */
		padding-left: unset;
		padding-right: unset;
		padding-bottom: 20px;
	}
	/* du coup le dernier child sert seulement a cacher */
	a.element:nth-child(3)
	{
		/* order:-1; */
		display:none;
	}

	a.logo-titre-principale__only-responsive{
		display: unset;
		color:  #0065FC;
		align-items: center;
		font-weight: bold;
		
		
	}
	#logo-titre-principale{
		display: flex;
		/* justify-content: flex-end; */
		align-self: flex-end;
		justify-content: space-between;
		align-items: center;
	}


/* fin header responsive*/





	/* regle qui doit saplliquer a tout pas seulement responsive */
	footer #container
	{
		display: flex;
		flex-direction: column;
		color: black;
		/* border: 20px dotted brown; */
		display: flex;
		
		flex-wrap: wrap;
		justify-content: flex-end;
	}




}
footer li:first-child 
	{
		color:black;
		font-weight: bold;
		padding-bottom: 12px;
		font-weight: bold;
		font-size: 1.3em;
	}
/* li footer */
.items__list
{
	padding:2px;
	list-style-type: none;
}
/* .items:nth-child(1)
{color: brown;} */